* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
}

header {
	height: 800px;
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/hero.jpg');
	background-position: center;
	background-size: cover;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 27.26px;
	padding-left: 200px;
}

nav img {
	width: 161px;
	height: 32px;
}

nav ul {
	display: flex;
	list-style: none;
	padding-right: 171.59px;
	margin: 0;
}

nav ul li {
	margin-left: 25px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 15.08px;
}

nav ul li a:hover,
nav ul li a:active {
	color: #ff6565;
}

.heroSection {
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 340px;
	margin-left: auto;
	margin-right: auto;
	width: 637px;
	height: 313px;
}
.heroTitle h1 {
	color: #fff;
	font-size: 32px;
	line-height: 40.22px;
}
.heroTitle p {
	color: #fff;
	font-size: 16px;
	line-height: 20.11px;
}
.heroBtn button {
	margin-top: 25px;
	margin-bottom: 45px;
	width: 162px;
	height: 44px;
	background-color: #ff6565;
	border: #ff6565;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
.heroMsg p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}

/* What we do section */

.wwdText {
	width: 637px;
	height: 184px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wwdTitle h1 {
	font-size: 32px;
	line-height: 37.5px;
	color: rgba(7, 22, 41, 1);
	margin-top: 70px;
}
.wwdTitle p {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 40px;
	color: rgba(7, 22, 41, 1);
}

.wwdIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 100px;
	width: 1050px;
	margin-top: 130px;
	margin-bottom: 130px;
}

.card {
	width: 200px;
}

.card img {
	width: 69px;
	height: 69px;
}
.card h2 {
	font-size: 18px;
	line-height: 26px;
	color: rgba(7, 22, 41, 1);
}

.card p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: rgba(7, 22, 41, 1);
}

/* Our results section */
.our-results {
	width: 100%;
	height: 650px;
	background-image: url(images/headphones_hero_2.jpg);
}

.orText {
	display: flex;
	width: 637px;
	height: 150px;
	align-items: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.orText h2 {
	width: 550px;
	height: 40px;
	font-size: 32px;
	line-height: 37.5px;
	margin-top: 450px;
	color: rgba(255, 255, 255, 1);
}

.orText p {
	width: 637px;
	height: 104px;
	margin-top: 50px;
	color: rgba(255, 255, 255, 1);
}

.icon img {
	width: 190px;
	height: 190px;
}

.icon h2 {
	font-size: 46px;
	font-weight: 700;
	line-height: 26px;
}
.icon p {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.icontext{
    position: relative;
}