main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw 4vw;
}
article {
	flex: 2;
	overflow-y: auto;
}
aside {
	flex: 1;
	overflow-y: auto;
}
